html {
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calculator-body {
  width: 39%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.2%;
  align-items: center;
  border: 3px solid black;
}

.item {
  height: 16%;
}

.key {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  justify-content: space-evenly;
  margin: 0.1% 0%;
}

.display-window {
  background-color: rgb(211, 122, 6);
  border-radius: 5px;
  border: 3px solid black;
  width: 97%;
  padding: 0.2%;
}

.sym {
  background: rgb(255, 183, 0);
  width: 100%;
  height: 20%;
  margin: 0.1% 0%;
  border-radius: 5px;
}

.key2 {
  width: 25%;
  border-radius: 5px;
  height: 99%;
}

.num {
  background-color: gray;
  text-align: center;
  width: 32%;
}

.zero,
.ac {
  width: 65%;
}

.equal {
  height: 39%;
  background-color: rgb(73, 249, 76);
}

.ac {
  background-color: rgb(243, 73, 73);
}

.keyboard {
  height: 83%;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rightkeyboard {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.2%;
}
.leftkeyboard {
  height: 100%;
  width: 75%;
  padding: 0.2%;
}
.divide {
  width: 32%;
}

button {
  border: 3px solid black;
}

#show-answer {
  background-color: rgb(211, 122, 6);
  border: 0px;
  width: 100%;
  text-align: right;
}
