body {
  background-color: hsl(89, 43%, 51%);
}

.Calculator-body {
  border: 1px solid black;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.keyboard {
  border: 1px solid green;
  padding: 5%;
}

.key {
  position: relative;
  border: 3px solid rgb(47, 255, 0);
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.item {
  border: 1px solid rgb(253, 144, 1);
  width: 10px;
}

p {
  border: 2px solid red;
}
